 body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: #f5f6fa;
        }

        .watch-img {
            width : 100%;
            height: 750px;
        }

        /* ===== NAVBAR ===== */
        .navbar {
            background: #ffffff;
            padding: 15px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 10px rgba(0,0,0,0.08);
            position: sticky;
            top: 0;
        }

        .logo {
            font-size: 22px;
            font-weight: 600;
            color: #2c3e50;
        }

        .menu {
            display: flex;
            gap: 25px;
        }

        .menu a {
            text-decoration: none;
            color: #333;
            font-size: 15px;
            transition: 0.3s;
        }

        .menu a:hover {
            color: #3498db;
        }

        .right-section {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .search-box input {
            padding: 6px 10px;
            border-radius: 20px;
            border: 1px solid #ddd;
            outline: none;
        }

        .cart {
            font-size: 18px;
            cursor: pointer;
        }

        /* ===== CATEGORY MENU ===== */
        .category-bar {
            background: #3498db;
            padding: 10px 50px;
            display: flex;
            gap: 30px;
        }

        .category-bar a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            transition: 0.3s;
        }

        .category-bar a:hover {
            opacity: 0.8;
        }

        /* Responsive */
        @media(max-width:768px){
            .menu {
                display: none;
            }

            .category-bar {
                flex-wrap: wrap;
                gap: 15px;
            }

           

        }